body {
    background-color: #212529 !important;
}

.navbar-toggler .navbar-toggler-icon {

    color: white !important;
    background-color: white !important;
}
.card1 {
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px black;
}

